@charset "utf-8";
*{
	font-family: "Titillium Web", sans-serif;
	margin: 0px;
}

/* INICIO PADRÕES DO SITE TAGS */
body{
	background-color: #EEEEEE;	
}
div#rodape, div#topo{
	margin-top: 0px;
	background: #777777;
	color: #FFFFFF;
	clear:both;
	width:100%;
}
div#rodape p,  div#topo p {
	margin:0 auto; 
	padding:6px 0px;
	height:25px;
	width:100%;
	max-width: 1250px;
}
div#rodape p a,  div#topo p a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}
div#rodape {
    position:absolute;
    bottom:0;
    width:100%;
}
.header {
	height: 25px;
	line-height:25px;
	margin: 0px;
	width: 100%;
	max-width: 1250px;
	text-align: right;
}
input, select {
	padding: 4px;	
}
input[type=date], input[type=text], input[type=password], select, textarea {
	border: #CCCCCC 1px solid;
	color: #333333;
	background-color:#FFFFFF;
}
input[type=date], input[type=text]:focus, input[type=password], select, textarea {
	color: #000000;
	background-color:#FFF8DC;
}
input[type=button], input[type=submit], input[type=reset], input[type=file]{
	border: #C00 1px solid;
	color: #FFFFFF;
	font-weight:bold;
	background-color:#FF0000;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	color: #FF0000;
	font-weight:bold;
	background-color:#FFFFFF;
	cursor: pointer;
}
span.direita {
	text-align: right;
	float: right;	
}
span.centro {
	text-align: center;
}

table{
	font-size: 12px;
	min-width: 50%;
	border-spacing: 0;
	border-collapse: collapse;
}
th {
	color:#FFFFFF;
	background:#777777;
	padding: 4px;
	font-weight: bold;
	text-transform: uppercase;
	height: 20px;
}
tr:nth-child(even){
	background-color: #FFFFFF;
}
tr:nth-child(odd){
	background-color: #EEEEEE;
}

/* FIM PADRÕES DO SITE TAGS */

/* ÍNICIO PADRÕES DO SITE CLASSES */
.conteudo {
	width:100%;
	max-width: 1250px;
	margin:0 auto;
}
.menu{
	border:none;
	border:0px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu ul{
	background: none;
	height:30px;
	list-style: none;
	margin:0;
	color:#272727;
}
.menu li{
	float:left;
	padding:0px;
}
.menu li a{
	background:#999999;
	color:#272727;
	display: block;
	font-weight:normal;
	line-height:30px;
	margin-left:0px;
	padding: 0px 15px;
	text-align:center;
	text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
	background: #000;
	color:#FFFFFF;
	text-decoration:none;
}
.menu li ul{
	background:#FFFFFF;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:100px;
	z-index:200;
}
.menu li:hover ul{
	display: block;
}
.menu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}
.menu li:hover li a{
	background:none;
	background:#777777;
}
.menu li ul a{
	display:block;
	height:30px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 20px;
	text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
	background:#000066;
	border:0px;
	color:#FFFFFF;
	text-decoration:none;
}
.menu p{
	clear:left;
}	
/* FIM PADRÕES DO SITE CLASSES */
::selection{
  color: white;
  background-color: red;
}